html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    margin: 0;
}

main{
    border:  2px solid;
    padding: 1em;
    width: 300px;
    height: 400px;
}